# Default ignored files
/../../Neural_networks /.idea/shelf/
/../../Neural_networks /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Neural_networks /.idea/httpRequests/
# Datasource local storage ignored files
/../../Neural_networks /.idea/dataSources/
/../../Neural_networks /.idea/dataSources.local.xml
